{% extends "quotes/base.html" %}

{% block content %}
    <div class="main-page">
        <div class="main-page--quotes">
            {% for quote in quotes_list %}
                {% include "quotes/components/quote.html" with quote=quote %}
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="main-page--top-tags">
            <h2>Top tags</h2>
            {% for tag in top_tags %}
            <a class="contrast" href="{% url 'quotes:tag' tag.id %}">{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}